<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                          http://www.springframework.org/schema/tx 
                          http://www.springframework.org/schema/tx/spring-tx.xsd">

	<tx:annotation-driven />
	<context:component-scan
		base-package="com.springmvc" />
	<!-- Create spring configuration file Step : 2 -->
	<!-- Create viewResolver line number 15 step : 3 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		name="viewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp"></property>

	</bean>

	<bean
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		name="ds">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/springmvc" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>


	<bean
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
		name="factory">

		<!--HERE WE HAVE TO SAVE DATA SOURCE PROPERTY THAT'S WHY WE PASSED HERE 
			THR REF OF DATA SOURCE -->
		<property name="dataSource" ref="ds"></property>

		<!--HIBERNATE PROPERTIES -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL55Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>

		<!-- ANNOTATED CLASS -->
		<!-- IT'S FOR ENTITY CLASSES -->
		<property name="annotatedClasses">
			<list>
				<!--here we have to specified entity class with package if here will 
					be more classes then we have to create here new value then specified new 
					class with package name -->
				<value>com.springmvc.model.User</value>
			</list>
		</property>

	</bean>

	<bean class="org.springframework.orm.hibernate5.HibernateTemplate"
		name="hibernateTemplate">
		<property name="sessionFactory" ref="factory"></property>

	</bean>

	<bean
		class="org.springframework.orm.hibernate5.HibernateTransactionManager"
		name="transactionManager">
		<property name="sessionFactory" ref="factory"></property>

	</bean>

</beans>

	